html,
body {
  margin: 0;
  font: 30px Georgia, serif;
  text-align: center;
}

#myHeader {
  width: 100%;
  padding: 80px;
  background: #101112;
  color: #fff;
  box-sizing: border-box;
}

.content {
  margin: 0;
  padding: 80px;
}

#myLogo {
  display: inline-block;
  width: 100px;
  height: auto;
  margin: 50px 0 0;
}